.bland {
	color: #fff !important;
}

.lots-of-space {
	padding-top: 100px !important;
}

.bits-of-space {
	padding-top: 45px !important;
}

.tons-of-space {
	padding-top: 450px !important;
}

.hard-left {
	text-align: left !important;
}

.hard-right {
	text-align: right !important;
}

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

ul {
	list-style-type: none !important;
}